@media screen{
    div.container.vertical-center div.card.mx-auto.text-center.border-0{
        background-color: rgba(0, 0, 0, 0);
    }
    
    img.card-img-top{
        opacity: 0.75;
        height: 100%;
    }
    
    input.form-control.h-100{
        background-color: rgba(255, 255, 255, 0.15);
        border: 0px solid white;
        box-shadow: 0 0px 5px rgba(0,0,0,0.2);
        border-radius: 0px;
    }
    
    div.container.vertical-center div.card.mx-auto.text-center.border-0{
        min-width: 300px;
    }
}

/* more than 1200px width, iPod */

@media screen and (min-width: 1200px) and (min-aspect-ratio: 9/16){
    div.container.vertical-center div.card.mx-auto.text-center.border-0{
        width: 65%;
        height: 395px;
    }
    
    div.card-img-overlay.m-5.p-4{
        padding: 1.5rem!important;
        margin: 3rem!important;
    }
    
    img.img-responsive{
        max-width: 100%;
    }
    
    p.text-left.h5{
        font-size: 20px;
    }
    
    p.text-left.h6{
        font-size: 16px;
    }
    
    div.text-left.my-2.b{
        font-size: 16px;
    }
    
    label.form-check-label.h6{
        font-size: 13px;
    }
}

/* more than iPad width */
@media screen and (min-width: 1024px) and (max-width: 1199px) and (min-aspect-ratio: 9/16){
    div.container.vertical-center div.card.mx-auto.text-center.border-0{
        width: 65%;
        height: 340px;
    }
    
    div.card-img-overlay.m-5.p-4{
        padding: 1rem!important;
        margin: 2.5rem!important;
    }
    
    img.img-responsive{
        max-width: 80%;
    }
    
    p.text-left.h5{
        font-size: 18px;
    }
    
    p.text-left.h6{
        font-size: 14px;
    }
    
    div.text-left.my-2.b{
        font-size: 14px;
    }
    
    label.form-check-label.h6{
        font-size: 11px;
    }
}

/* more than 812 width : iPhone X */
@media screen and (min-width: 812px) and (max-width: 1023px) and (min-aspect-ratio: 9/16){
    img.huawei-logo{
        width: 8%;
    }
    
    div.container.vertical-center div.card.mx-auto.text-center.border-0{
        width: 60%;
        height: 230px;
    }
    
    div.card-img-overlay.m-5.p-4{
        padding: 0.5rem!important;
        margin: 2rem!important;
    }
    
    div.row.mt-4{
        margin-top: .5rem!important;
    }

    img.img-responsive{
        max-width: 80%;
    }
    
    p.text-left.h5{
        font-size: 15px;
    }
    
    p.text-left.h6{
        font-size: 11px;
    }
    
    div.text-left.my-2{
        font-size: 11px;
    }
    
    div.input-group.login-field{
        background-color: rgba(255, 255, 255, 1);
        height: 45%;
    }
    
    div.row.my-4.mx-1{
        margin-top: .5rem!important;
    }
    
    input.form-control.h-100{
        font-size: 11px;
    }
    
    button.enter-btn{
        width: 50px;
    }
    
    label.form-check-label.h6{
        font-size: 9px;
    }
    
    img.powered-by-logo{
        width: 20%;
    }
}

/* more than 667px width : iPhone X */
@media screen and (min-width: 667px) and (max-width: 811px) and (min-aspect-ratio: 9/16){
    img.huawei-logo{
        width: 8%;
    }
    
    div.container.vertical-center div.card.mx-auto.text-center.border-0{
        width: 81%;
        height: 230px;
    }
    
    div.card-img-overlay.m-5.p-4{
        padding: 0.5rem!important;
        margin: 2rem!important;
    }
    
    div.row.mt-4{
        margin-top: .5rem!important;
    }

    img.img-responsive{
        max-width: 80%;
    }
    
    p.text-left.h5{
        font-size: 15px;
    }
    
    p.text-left.h6{
        font-size: 11px;
    }
    
    div.text-left.my-2{
        font-size: 11px;
    }
    
    div.input-group.login-field{
        background-color: rgba(255, 255, 255, 1);
        height: 45%;
    }
    
    div.row.my-4.mx-1{
        margin-top: .5rem!important;
    }
    
    input.form-control.h-100{
        font-size: 11px;
    }
    
    button.enter-btn{
        width: 50px;
    }
    
    label.form-check-label.h6{
        font-size: 9px;
    }
    
    img.powered-by-logo{
        width: 20%;
    }
}

/* more than 640px width : iPhone X */
@media screen and (min-width: 640px) and (max-width: 666px) and (min-aspect-ratio: 9/16){
    img.huawei-logo{
        width: 8%;
        margin-top: 20px;
        margin-right: 40px;
    }
    
    div.container.vertical-center div.card.mx-auto.text-center.border-0{
        width: 69%;
        height: 195px;
    }
    
    div.card-img-overlay.m-5.p-4{
        padding: 0.5rem!important;
        margin: 1rem!important;
    }
    
    div.row.mt-4{
        margin-top: .5rem!important;
    }

    img.img-responsive{
        max-width: 70%;
    }
    
    p.text-left.h5{
        font-size: 14px;
    }
    
    p.text-left.h6{
        font-size: 10px;
    }
    
    div.text-left.my-2{
        font-size: 10px;
    }
    
    div.input-group.login-field{
        background-color: rgba(255, 255, 255, 1);
        height: 45%;
    }
    
    div.row.my-4.mx-1{
        margin-top: .5rem!important;
    }
    
    input.form-control.h-100{
        font-size: 10px;
    }
    
    button.enter-btn{
        width: 50px;
    }
    
    label.form-check-label.h6{
        font-size: 8px;
    }
    
    img.powered-by-logo{
        width: 20%;
        margin-bottom: 10px;
        margin-right: 40px;
    }
}

/*
        * Base middle display -------------------------------
        */

/* more than 568 width : iPhone X */
@media screen and (min-width: 400px) and (max-width: 639px) and (min-aspect-ratio: 9/16){
    img.huawei-logo{
        width: 8%;
        margin-top: 20px;
        margin-right: 40px;
    }
    
    div.container.vertical-center div.card.mx-auto.text-center.border-0{
        width: 69%;
        height: 195px;
    }
    
    div.card.mx-auto.text-center{
        text-align: left!important;
    }
    
    div.card-img-overlay.m-5.p-4{
        padding: 0.5rem!important;
        margin: 1rem!important;
    }
    
    div.row.mt-4{
        margin-top: .5rem!important;
    }

    img.img-responsive{
        max-width: 35%;
    }
    
    p.text-left.h5{
        font-size: 12px;
    }
    
    p.text-left.h6{
        font-size: 10px;
    }
    
    div.text-left.my-2{
        font-size: 10px;
    }
    
    div.input-group.login-field{
        background-color: rgba(255, 255, 255, 1);
        height: 45%;
    }
    
    div.row.my-4.mx-1{
        margin-top: .5rem!important;
    }
    
    input.form-control.h-100{
        font-size: 10px;
    }
    
    button.enter-btn{
        width: 50px;
    }
    
    label.form-check-label.h6{
        font-size: 8px;
    }
    
    img.powered-by-logo{
        width: 20%;
        margin-bottom: 10px;
        margin-right: 40px;
    }
}

/* more than 568 width : iPhone X */
@media screen and (min-width: 100px) and (max-width: 400px) and (min-aspect-ratio: 9/16){
    img.huawei-logo{
        width: 8%;
        margin-top: 20px;
        margin-right: 40px;
    }
    
    div.container.vertical-center div.card.mx-auto.text-center.border-0{
        width: 69%;
        height: 195px;
    }
    
    div.card.mx-auto.text-center{
        text-align: left!important;
    }
    
    div.card-img-overlay.m-5.p-4{
        padding: 0.5rem!important;
        margin: 1rem!important;
    }
    
    div.row.mt-4{
        margin-top: .5rem!important;
    }

    img.img-responsive{
        max-width: 35%;
    }
    
    p.text-left.h5{
        font-size: 12px;
    }
    
    p.text-left.h6{
        font-size: 10px;
    }
    
    div.text-left.my-2{
        font-size: 10px;
    }
    
    div.input-group.login-field{
        background-color: rgba(255, 255, 255, 1);
        height: 45%;
    }
    
    div.row.my-4.mx-1{
        margin-top: .5rem!important;
    }
    
    input.form-control.h-100{
        font-size: 10px;
    }
    
    button.enter-btn{
        width: 50px;
    }
    
    label.form-check-label.h6{
        font-size: 8px;
    }
    
    img.powered-by-logo{
        width: 20%;
        margin-bottom: 10px;
        margin-right: 40px;
    }
}
/*-------------------------------------------------------------------------------------------------------*/
/* more than 640px width : Portrait*/
@media screen and (min-width: 768px) and (max-width: 1023px) and (orientation:portrait){
    div.container.vertical-center div.card.mx-auto.text-center.border-0{
        width: 60%;
    }
}

/* more than 411px width : Portrait*/
@media screen and (min-width: 411px) and (max-width: 767px) and (orientation:portrait){
    img.huawei-logo{
        width: 12%;
        margin-top: 20px;
        margin-right: 40px;
    }
    
    div.container.vertical-center div.card.mx-auto.text-center.border-0{
        width: 80%;
        height: 200px;
    }
    
    div.card.mx-auto.text-center{
        text-align: left!important;
    }
    
    div.card-img-overlay.m-5.p-4{
        padding: 0.5rem!important;
        margin: 1rem!important;
    }
    
    div.row.mt-4{
        margin-top: .5rem!important;
    }

    img.img-responsive{
        max-width: 35%;
    }
    
    p.text-left.h5{
        font-size: 14px;
    }
    
    p.text-left.h6{
        font-size: 10px;
    }
    
    div.text-left.my-2{
        font-size: 10px;
    }
    
    div.input-group.login-field{
        background-color: rgba(255, 255, 255, 1);
        height: 45%;
    }
    
    div.row.my-4.mx-1{
        margin-top: .5rem!important;
    }
    
    input.form-control.h-100{
        font-size: 10px;
    }
    
    button.enter-btn{
        width: 40px;
    }
    
    label.form-check-label.h6{
        font-size: 8px;
    }
    
    img.powered-by-logo{
        width: 30%;
        margin-bottom: 10px;
        margin-right: 40px;
    }
}

/* more than 411px width : Portrait*/
@media screen and (max-width: 410px) and (orientation:portrait){
    img.huawei-logo{
        width: 12%;
        margin-top: 20px;
        margin-right: 40px;
    }
    
    div.container.vertical-center div.card.mx-auto.text-center.border-0{
        width: 90%;
        height: 200px;
    }
    
    div.card.mx-auto.text-center{
        text-align: left!important;
    }
    
    div.card-img-overlay.m-5.p-4{
        padding: 0.5rem!important;
        margin: 1rem!important;
    }
    
    div.row.mt-4{
        margin-top: .5rem!important;
    }

    img.img-responsive{
        max-width: 35%;
    }
    
    p.text-left.h5{
        font-size: 11px;
    }
    
    p.text-left.h6{
        font-size: 10px;
    }
    
    div.text-left.my-2{
        font-size: 8px;
    }
    
    div.input-group.login-field{
        background-color: rgba(255, 255, 255, 1);
        height: 45%;
    }
    
    div.row.my-4.mx-1{
        margin-top: .5rem!important;
    }
    
    input.form-control.h-100{
        font-size: 10px;
    }
    
    button.enter-btn{
        width: 35px;
    }
    
    label.form-check-label.h6{
        font-size: 8px;
    }
    
    img.powered-by-logo{
        width: 30%;
        margin-bottom: 10px;
        margin-right: 40px;
    }
}

/* more than 411px width : Portrait*/
@media screen and (max-width: 320px) and (max-height: 320px){
    img.huawei-logo{
        width: 12%;
        margin-top: 20px;
        margin-right: 40px;
    }
    
    div.container.vertical-center div.card.mx-auto.text-center.border-0{
        width: 90%;
        height: 200px;
    }
    
    div.card.mx-auto.text-center{
        text-align: left!important;
    }
    
    div.card-img-overlay.m-5.p-4{
        padding: 0.5rem!important;
        margin: 1rem!important;
    }
    
    div.row.mt-4{
        margin-top: .5rem!important;
    }

    img.img-responsive{
        max-width: 35%;
    }
    
    p.text-left.h5{
        font-size: 11px;
    }
    
    p.text-left.h6{
        font-size: 10px;
    }
    
    div.text-left.my-2{
        font-size: 8px;
    }
    
    div.input-group.login-field{
        background-color: rgba(255, 255, 255, 1);
        height: 45%;
    }
    
    div.row.my-4.mx-1{
        margin-top: .5rem!important;
    }
    
    input.form-control.h-100{
        font-size: 10px;
    }
    
    button.enter-btn{
        width: 35px;
    }
    
    label.form-check-label.h6{
        font-size: 8px;
    }
    
    img.powered-by-logo{
        width: 30%;
        margin-bottom: 10px;
        margin-right: 40px;
    }
}