/*
* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}
*/

#mobile-minimap-container{
    background-color: rgba(255, 255, 255, 0);
    overflow: auto;
}

.mobile-minmap-out{
    display: flex;
    width: 100%;
    height: 100%;
}

.container-table100 {
    display: flex;
    width: 100%;
    height: 100%;
/*    flex-direction: column;*/
    padding: 20px;
    margin: ;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
}

.wrap-table100 {
    width: 310px;
    background: white;
    display: flex;
    justify-content: center;
    border-radius: 7px;
}

.minmap-table {
  width: 85%;
  display: table;
  margin: 0;
}

.minmap-row {
  display: table-row;
  background: #fff;
  margin-left: 0px;
  margin-right: 0px;
}

.cell {
  display: table-cell;
}

.cell:hover {
  color: #dd0000 !important;  
  font-weight: bold !important;
}

.minmap-row .cell {
  font-size: 15px;
  color: #cccccc;
  line-height: 1.2;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid #f2f2f2;
  text-align: left;
}

.minmap-row #mobile-min-text7 {
  border-bottom: 0px;
}

.minmap-row .cell{
  width: 360px;
  padding-left: 5px;
  padding-right: 5px;
}

.minmap-table, .minmap-row {
  display: block;
}

.minmap-row:hover {
  background-color: white;
  cursor: pointer;
}

@media screen and (min-height: 400px) and (max-height: 450px) and (orientation: landscape){
    .wrap-table100 {
        margin-top: 9rem;
        margin-bottom: 3rem;
    }
}

@media screen and (min-height: 350px) and (max-height: 399px) and (orientation: landscape){
    .wrap-table100 {
        margin-top: 12rem;
        margin-bottom: 3rem;
    }
}

@media screen and (max-height: 349px) and (orientation: landscape){
    .wrap-table100 {
        margin-top: 15rem;
        margin-bottom: 3rem;
    }
}

@media screen and (min-width:350px) and (max-width: 450px) and (orientation: portrait){
    .wrap-table100 {
        width: 80%;
    }
}

@media screen and (max-width: 349px) and (orientation: portrait){
    .wrap-table100 {
        width: 90%;
    }
}